@font-face {
    font-family: SolaimanLipi;
    src: url("./Font/SolaimanLipi_20-04-07.ttf");
}

*{
    margin: 0;
    padding: 0;
}

.container-fluid{
    padding: 0;
}

.top-navbar{
    width: 100%;
    height: 6vh;
    background-color: #192f59;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.top-icons{
    margin-left: 33px;
}

.top-icons i{
    font-size: 24px;
    color: #ffffff;
    margin-left: 10px;
    cursor: pointer;
}

.other-links{
    margin-right: 33px;
}

#btn-login{
    width: 100px;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    padding: 5px 0;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.5s ease;
}

#btn-login:hover{
    background: #000000;
    color: #ffffff;
}

#btn-signup{
    width: 100px;
    color: #ffffff;
    background-color: #000000;
    border: 2px solid #ffffff;
    padding: 5px 0;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.5s ease;
}

#btn-signup:hover{
    background: #ffffff;
    color: #000000;
}

@media screen and (max-width:500px){
    .top-navbar{
        height: 7vh;
    }
    .top-icons{
        margin-left: 10px;
    }
    .top-icons i{
        font-size: 25px;
    }
    .other-links{
        margin-right: 10px;
    }
    /* #btn-login{
        width: 60px;
        height: 5vh;
    }
    #btn-signup{
        width: 70px;
        height: 5vh;
    } */
}

@media screen and (max-width:350px){
    .top-navbar{
        height: 7vh;
    }
    .top-icons{
        margin-left: 10px;
    }
    .top-icons i{
        font-size: 25px;
    }
    .other-links{
        margin-right: 10px;
    }
    /* #btn-login{
        width: 50px;
        height: 5vh;
        font-size: 13px;
    }
    #btn-signup{
        width: 60px;
        height: 5vh;
        font-size: 13px;
    } */
}

@media screen and (max-width:350px){
    .top-navbar{
        height: 7vh;
    }
    .top-icons{
        margin-left: 5px;
    }
    .top-icons i{
        font-size: 25px;
    }
    .other-links{
        margin-right: 10px;
    }
    /* #btn-login{
        width: 40px;
        height: 5vh;
        font-size: 10px;
    } */
    /* #btn-signup{
        width: 50px;
        height: 5vh;
        font-size: 10px;
    } */
}


.navbar .navbar-toggler{
    background: #192f59;
}

.navbar{
    background-color: white;
    padding: 0 2rem;
}

.navbar .navbar-brand img{
    width: 5rem;
}

.navbar .collapse .navbar-nav{
    gap: 10px;
}

.navbar .collapse .navbar-nav .nav-item{
    font-weight: 500;
    font-size: 21px;
}

.navbar .collapse .navbar-nav .nav-item .nav-link{
    color: #192f59;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.nav-item .dropdown-menu .dropdown-item:hover{
    background: #192f59;
    color: #ffffff;
}

.nav-link{
    transition: all 0.2s;
}

.nav-link::after{
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 3px;
    width: 100%;
    background-color: #192f59;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after{
    opacity: 1;
}

.btn{
    background: #ffffff;
    color: black;
    font-weight: 500;
    border: 2PX solid #000000;
}

.btn:hover{
    background: #000000;
    color: #ffffff;
    border: 2PX solid #000000;
}

@media screen and (max-width:500px){
    .navbar{
        padding: 0 0.5rem;
    }
    .navbar .navbar-brand img{
        width: 4.5rem;
    }
    .navbar .collapse .navbar-nav{
        text-align: center;
        gap: 5px;
    }
    .btn{
        width: 100%;
        margin-bottom: 10px;
        background: #192f59;
        color: #ffffff;
    }
}

@media screen and (max-width:350px){
    .navbar{
        padding: 0 0.5rem;
    }
    .navbar .navbar-brand img{
        width: 4.5rem;
    }
    .navbar .collapse .navbar-nav{
        text-align: center;
        gap: 5px;
    }
    .btn{
        width: 100%;
        margin-bottom: 10px;
        background: #192f59;
        color: #ffffff;
    }
}

@media screen and (max-width:1200px){
    .navbar{
        padding: 0 0.5rem;
    }
    .navbar .navbar-brand img{
        width: 4.5rem;
    }
    .navbar .collapse .navbar-nav{
        text-align: center;
        gap: 5px;
    }
    .btn{
        width: 100%;
        margin-bottom: 10px;
        background: #192f59;
        color: #ffffff;
    }
}


.sliding_text_wrap {
    padding: 7px 0;
    background: #192f59;
    font-size: 15px;
    color: #ffffff;
}

.text_wrap_1 a{
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    font-family: SolaimanLipi;
}

@media screen and (max-width:500px){
    .sliding_text_wrap {
        padding: 4px 0;
        font-size: 12px;
    }
}

@media screen and (max-width:350px){
    .sliding_text_wrap {
        padding: 4px 0;
        font-size: 12px;
    }
}
/* ----------------------------------------------------- */


.header-banner-container {
    background-image: url(./img/1920-350.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}


.header-banner-container:after {
    background: rgba(10, 15, 28, 0.8);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: "";
}

.header-banner-container .page-title-wrap {
    z-index: 99;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    position: relative;
    padding: 90px 0;
}

.header-banner-container .page-title {
    color: #fff;
    font-weight: 600;
    font-size: 35px;
    margin: 0 0 9px;
    /* -ms-word-wrap: break-word; */
    word-wrap: break-word;
}

.ak-container {
    max-width: 1250px !important;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

#enlighten-breadcrumb {
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
}

#enlighten-breadcrumb a {
    padding: 0 5px;
    color: #fff;
}


#enlighten-breadcrumb .current {
    padding-left: 5px;
}

.heading{
    padding: 50px 0px 0px;
    font-family: SolaimanLipi;
    margin: 21.165px 0px;
}

.heading-1{
    text-align: justify;
    font-family: SolaimanLipi;
    font-size: 18px;
    margin-bottom: 35px;
}


/* --------------------------------------------- */
.footer{
	background-color: #0A1F3C;
    padding: 70px 0 20px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 400;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col ul li{
    color: white;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.footer .hfe-copyright-wrapper{
    color: #ffffff;
    text-align: center;
    /* margin-top: 50px; */
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}

@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}